body{background:#fdf9f5;}
#_top{width:100%;height:82px;background:#ff9900;}
#_top .top{width:1200px;margin:0 auto;}
.top img:nth-of-type(1){width:70px;height:70px;display: block;padding:6px 0 0 5px;float:left;}
.top img:nth-of-type(2){height:38px;float:left;margin-left:28px;padding-top:25px;}
/* _top end*/
#_register{width:1200px;height:582px;margin:0 auto;padding:20px 0 55px 0;}
#_reg-left{float:left;}
#_reg-left img{padding:115px 0 0 80px;}
#_reg-right{width:577px;padding-top:1px;height:580px;box-shadow:0px 4px 4px #cbc7c4;border:1px solid #e4e0dc;background:#fff;float:right;}
#_reg-form{width:440px;height:482px;margin:auto;margin-top:50px;}
#_reg-form>p{height:30px;font-size:14px;line-height:30px;}
#_reg-form>span{margin:1px 0;line-height:12px;display:block;font-size:12px;height:20px;width:245px;margin-left:95px;}
#_reg-form p>span{width:80px;text-align:right;float:left;font-size:14px;margin-right:15px;}
#_reg-form p>span>em{color:#f00;padding-right:2px;font-style:normal;}
#_reg-form p>input{font-size:10px;width:205px;padding:6px 30px 6px 5px;float:left;border:0;border:1px solid #ccc;outline-color:lawngreen;}
#_reg-form p:nth-of-type(1) input{background:url(../images/index.png) no-repeat 215px -97px;}
#_reg-form p:nth-of-type(2) input,#_reg-form p:nth-of-type(3) input{background:url(../images/index.png) no-repeat 217px -126px;}
#_reg-form p:nth-of-type(4) input{background:url(../images/index.png) no-repeat 217px -212px;}
#_reg-form p:nth-last-of-type(2) input{width:12px;height:12px;margin:10px 5px 0 0;}
#_reg-form p:nth-last-of-type(1) span,#_reg-form p:nth-last-of-type(2) span{height:30px;}
#_reg-form p:nth-last-of-type(1) span{width:98px;}
#_sub{cursor:pointer;font-size:16px;margin-top:8px;width:233px;height:50px;background:#ff9900;color:#fff;margin-left:95px;border:0;outline:none;}
#_reg-form p:nth-of-type(5) input,#_reg-form p:nth-of-type(6) input{width:112px;padding-right:0px ;}
#_reg-form p:nth-of-type(5) span:nth-of-type(2){text-align:center;font-size:20px;float:left;width:98px;background:url(../images/verify.jpg)no-repeat;background-size:98px 30px;height:30px;margin:0 10px;}
#_reg-form p:nth-of-type(5) span:nth-of-type(3){float:left;width:100px;font-size:12px;margin:0;text-align:left; }
#_reg-form p:nth-of-type(5) span:nth-of-type(3) em{color:#0000ee;}
#_reg-form p:nth-of-type(5) span:nth-of-type(3) em:hover{text-decoration:underline;cursor:pointer}
#_reg-form p:nth-of-type(6) span:nth-of-type(2){cursor:pointer;float:left;margin-left:10px;text-align:center;line-height:30px;color:#fff;width:113px;height:30px;background:#ff9900;}
#_reg-form i{float:left;font-style:normal;}
#_reg-form i a{color:#3f9fff;cursor:pointer}
                /*register end*/








